{{template "layout" .}}
{{define "title"}}Edit {{.Name}} - Admin{{end}}

{{define "content"}}
<div class="container">
	<h1>Edit {{.Name}}</h1>

	<div data-controller="edit-form">
		<div class="float-end" style="margin-top: -50px;">
			<button
				type="button"
				data-edit-form-target="renameButton"
				data-action="edit-form#toggle"
				class="btn btn-link">
				Rename
			</button>
			<a href="/boards">Back</a>
		</div>
		<div data-edit-form-target="form" style="display:none;">
			{{template "_form" .}}
		</div>
	</div>

	<div id="board-editor"></div>
</div>
{{end}}
