{{template "layout" .}}
{{define "title"}}{{.Data.Name}} - Admin{{end}}
{{define "content"}}
{{with .Data}}
	<div class="container">
		<h1>{{.Name}}</h1>

		<p>
			<strong>ID:</strong> {{.ID}}
			<br>
			<strong>Created At:</strong> {{.CreatedAt}}
			<br>
			<strong>Updated At:</strong> {{.CreatedAt}}
		</p>

		<p>
			<a href="/boards">Back</a>
		</p>
	</div>
{{end}}
{{end}}
