# OS and text editor cruft
Thumbs.db
.DS_Store
._*
~*
*~

# Database files
*.sqlite
*.db
/data/*

# Executables
/bin/*

# Vendored Packages
node_modules
elm-stuff

# Log files
*.log
*.log.*

# Random caches
.cache
.babel-cache
tmp

# VSCode currently is machine-specific
.vscode
