<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ .StatusCode }} - {{ .Message }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="http://localhost:9000/admin.bundle.js"></script>
</head>

<body>
	<div class="container">
		<h1>{{ .StatusCode }} - {{ .Message }}</h1>
		<p class="lead">{{ .Details }}</p>
	</div>
</body>

</html>
