<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{ .StatusCode }} - {{ .Message }}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" type="text/css" href="{{.AssetHost}}/admin.css">
	<script src="{{.AssetHost}}/admin.bundle.js"></script>
</head>

<body>
	<div class="container">
		<h1>{{ .StatusCode }} - {{ .Message }}</h1>
		<p class="lead">{{ .Details }}</p>
	</div>
</body>

</html>
