{{define "layout"}}<!DOCTYPE html>

<html lang="en">

<head>
	<meta charset="utf-8">
	<title>{{block "title" .}}City Route Game Admin{{end}}</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">

	{{if ne "http://localhost:9000" .AssetHost}}<link rel="stylesheet" type="text/css" href="{{.AssetHost}}/admin.css">{{end}}
	<script src="{{.AssetHost}}/admin.bundle.js"></script>

	{{block "meta" .}}{{end}}
</head>

<body>
	{{block "content" .}}{{end}}

	<div class="modal fade" id="defaultModal" tabindex="-1" aria-labelledby="defaultModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="defaultModalLabel">Confirm</h5>
					<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
				</div>
				<div class="modal-body"></div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
					<button type="button" class="btn btn-primary">Okay</button>
				</div>
			</div>
		</div>
	</div>

	{{block "endbody" .}}{{end}}
</body>

</html>{{end}}
